body {
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}

h1 {
    padding: 0;
    margin: 0;
    top: 0;
    text-align: center;
    border: 2px solid blue;
    background-color: pink;
}

img {
    min-height: calc(100vh - 4.5rem);
    /* width: 100vw; */
    /* width: 100vw; */
}

#images{
    display: flex;
    /* min-width: fit-content; */
    width: fit-content;
    overflow-x: scroll;
}